@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: black;
}


/* Navbar  */

.Navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.TagName a{
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.TagName a.active{
    background: black;
    padding:10px 20px;
    border-radius: 5px;
    color: white;
}





/* Navbar  */

/* post  */

.BlogPost{
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.BlogPost   .img{
    width: 300px;
    margin: 1rem 0;
    display: block;
}

 .data{
    display: flex;
    flex-direction: column;
   align-items: center;
}

.Details span{
    text-align: center;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.Details p{
    font-size: 13px;
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Details img{
    width: 60%;
    height: 30%;
    margin: 0 auto;
    display: block;
}




.Icon{
    width: 30px;
    height: 20px;
    vertical-align: middle;
}


.TopLayer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}





/* post  */

/* create post  */

.CreatePage{
   
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form div{
    margin: 10px 0;

}

.form div label{
    display: block;
    margin-bottom: 5px;
}

.form div input,.form div textarea{
    width: 320px;
    outline: none;
    padding: 5px;
}

.Btn{
    width: 320px;
    height: 25px;
    background: black;
    outline: none;
    border: none;
    color: white;
    padding: 4px;
    
}








/* create post  */